{% extends "frontend/base.html" %}

{% load static %}

{% block page %}

            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">CovidRelief Food Distribution Dashboard  </h2>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">CovidRelief Food Distribution Dashboard </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0"> Food Packet Distributed vs Pending</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="ct-chart-product ct-golden-section"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Need Attention </h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Name</th>
                                                        <th class="border-0">Mobile</th>
                                                        <th class="border-0">Address</th>
                                                        <th class="border-0">Center</th>
                                                        <th class="border-0">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
<!--                                                         <td>
                                                            <div class="m-r-10"><img src="{% static 'assets/images/product-pic.jpg' %}" alt="user" class="rounded" width="45"></div>
                                                        </td> -->
                                                        <td>Mangilaal</td>
                                                        <td>88998899889</td>
                                                        <td>Jankipuram Vistaar</td>
                                                        <td>Jankipuram</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>Pending </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
<!--                                                         <td>
                                                            <div class="m-r-10"><img src="{% static 'assets/images/product-pic.jpg' %}" alt="user" class="rounded" width="45"></div>
                                                        </td> -->
                                                        <td>Mangilaal</td>
                                                        <td>88998899889</td>
                                                        <td>Jankipuram Vistaar</td>
                                                        <td>Jankipuram</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>Pending </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
<!--                                                         <td>
                                                            <div class="m-r-10"><img src="{% static 'assets/images/product-pic.jpg' %}" alt="user" class="rounded" width="45"></div>
                                                        </td> -->
                                                        <td>Mangilaal</td>
                                                        <td>88998899889</td>
                                                        <td>Jankipuram Vistaar</td>
                                                        <td>Jankipuram</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>Pending </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
<!--                                                         <td>
                                                            <div class="m-r-10"><img src="{% static 'assets/images/product-pic.jpg' %}" alt="user" class="rounded" width="45"></div>
                                                        </td> -->
                                                        <td>Mangilaal</td>
                                                        <td>88998899889</td>
                                                        <td>Jankipuram Vistaar</td>
                                                        <td>Jankipuram</td>
                                                        <td><span class="badge-dot badge-brand mr-1"></span>Pending </td>
                                                    </tr>                                                                                                                                                            
                                                    <tr>
                                                        <td>2</td>
<!--                                                         <td>
                                                            <div class="m-r-10"><img src="{% static 'assets/images/product-pic-2.jpg' %}" alt="user" class="rounded" width="45"></div>
                                                        </td> -->
                                                        <td>Jethalal </td>
                                                        <td>9999999999</td>
                                                        <td>E900, Aliganj</td>
                                                        <td>Aliganj</td>
                                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
<!--                                                         <td>
                                                            <div class="m-r-10"><img src="{% static 'assets/images/product-pic-2.jpg' %}" alt="user" class="rounded" width="45"></div>
                                                        </td> -->
                                                        <td>Jethalal </td>
                                                        <td>9999999999</td>
                                                        <td>E900, Aliganj</td>
                                                        <td>Aliganj</td>
                                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
<!--                                                         <td>
                                                            <div class="m-r-10"><img src="{% static 'assets/images/product-pic-2.jpg' %}" alt="user" class="rounded" width="45"></div>
                                                        </td> -->
                                                        <td>Jethalal </td>
                                                        <td>9999999999</td>
                                                        <td>E900, Aliganj</td>
                                                        <td>Aliganj</td>
                                                        <td><span class="badge-dot badge-success mr-1"></span>Delivered </td>
                                                    </tr>                                                    
                                                    <tr>
                                                        <td colspan="9"><a href="#" class="btn btn-outline-light float-right">View Details</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
            <script>
                jQuery(document).ready(function () {
                    jQuery('#dashmenu').removeClass('collapsed');
                    jQuery('#dashmenu').addClass('active');
                jQuery.ajax({
                "method": "GET",
                "url": "{{ host }}/centerview",
                "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                "success": function (res) {
                    var centers = [];
                    var pending = [];
                    var delivered = [];
                    for (var i = 0; i < res.length; i++) {
                        centers[i] = res[i]['center_name'];
                        pending[i] = 0;
                        delivered[i] = 0;
                    }
                    jQuery.ajax({
                        "method": "GET",
                        "url": "{{ host }}/entryview",
                        "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                        "success": function (res1) {
                            for (var i = 0; i < res1.length; i++) {
                                index = centers.indexOf(res1[i]['center'])
                                if (res[i]['closed'] == 'Y'){
                                    delivered[i] = delivered[i] + 1
                                }else{
                                    pending[i] = pending[i] + 1
                                }
                            }
                            console.log(centers, pending, delivered);
                            new Chartist.Bar('.ct-chart-product', {
                                labels: ['Jankipuram', 'Faizullagunj 1', 'Faizullagunj 1', 'Aliganj', 'Triveni Nagar', 'Daliganj', 'Khadra', 'Hussainabad', 'Daulatganj', 'Thakurganj'],
                                series: [
                                    pending,
                                    delivered
                                ]
                            }, {
                                stackBars: true,
                                axisY: {
                                    labelInterpolationFnc: function(value) {
                                        return (value);
                                    }
                                }
                            }).on('draw', function(data) {
                                if (data.type === 'bar') {
                                    data.element.attr({
                                        style: 'stroke-width: 40px'
                                    });
                                }
                            });
                        }
                    })
                }
            });
            });
            </script>
{% endblock %}
