{% extends "frontend/base.html" %}

{% load static %}

{% block page %}

<div class="dashboard-ecommerce">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
        <script src="{% static '/assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
        <script src="{% static '/assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
        <script src="{% static '/assets/libs/js/main-js.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="{% static '/assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="{% static '/assets/vendor/datatables/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static '/assets/vendor/datatables/js/data-table.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
        <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Stocks</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Manage stocks</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
            {% if request.user.role == 'admin' %}
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h5 class="text-muted">Total stocks</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1" id="totalstockdisplay">{{ total }}</h1><br>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                {% if total < 50 %}
                                <span class="icon-circle-small icon-box-xs text-danger bg-danger-light"><i class="fa fa-fw fa-warning"></i></span>
                                {% else %}
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-info"></i></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body" style="margin-bottom: 3%">
                            <h5 class="text-muted">Update stocks</h5>
                            <form>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input id="stock_count" type="number" value="{{ total }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button class="btn btn-success" id="done">update</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <script>
                                    jQuery('#done').on('click', function (event) {
                                        event.preventDefault()
                                        var fd = new FormData();
                                        fd.append('stock_count', jQuery('#stock_count').val())
                                        jQuery.ajax({
                                            "method": "POST",
                                            "url": "{{ host }}/updatetotalstock",
                                            "data": fd,
                                            "processData": false,
                                            "contentType": false,
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                Swal.fire(
                                                    'Success!',
                                                    'Stock updated successfully!',
                                                    'success'
                                                );
                                                jQuery('#totalstockdisplay').html(res['count']);
                                            }
                                        });
                                    });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body" style="margin-bottom: 3%">
                            <h5 class="text-muted">Assign to centres</h5>
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="choosecenter" name="state2" style="width: 100%;">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input id="center_stock_count" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button class="btn btn-success" id="done2">send</button>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    jQuery(document).ready(function () {
                                        jQuery('.choosecenter').select2();
                                        jQuery.ajax({
                                            "method": "GET",
                                            "url": "{{ host }}/centerview",
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                for(var i=0; i<res.length; i++){
                                                    console.log(res[i]);
                                                    jQuery('.choosecenter').append(
                                                        "<option value='"+res[i]['center_name']+"'>"+res[i]['center_name']+"</option>"
                                                    )
                                                }
                                            }
                                        });
                                    });
                                    jQuery('.choosecenter').on('change', function () {
                                        alert('dfdffdfdf');
                                        jQuery.ajax({
                                            "method": "GET",
                                            "url": "{{ host }}/centerview/"+jQuery('.choosecenter').val(),
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                jQuery('#center_stock_count').val(res['stock_count']);
                                            }
                                        });
                                    });
                                    jQuery('#done2').on('click', function (event) {
                                        event.preventDefault()
                                        var fd = new FormData();
                                        fd.append('stock_count', jQuery('#center_stock_count').val())
                                        fd.append('center', jQuery('.choosecenter').val())
                                        jQuery.ajax({
                                            "method": "POST",
                                            "url": "{{ host }}/addshipment",
                                            "data": fd,
                                            "processData": false,
                                            "contentType": false,
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                if(res['message'] == 'insufficient stocks'){
                                                    Swal.fire(
                                                        'Insufficient stocks!',
                                                        'Please add more stocks or try a smaller value',
                                                        'warning'
                                                    );
                                                }else{
                                                    Swal.fire(
                                                        'Success!',
                                                        'Stock updated successfully!',
                                                        'success'
                                                    );
                                                    loadtable();
                                                    jQuery('#'+jQuery('.choosecenter').val()).html(res.count);//<span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-info"></i></span><span class="ml-1 text-success"></span>
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header"> Stock per center</h5>
                        <div class="card-body p-0">
                            <ul class="traffic-sales list-group list-group-flush">
                                {% for stock in center_stocks %}
                                <li class="traffic-sales-content list-group-item "><span class="traffic-sales-name">{{ stock.center_name }}</span><div><span class="traffic-sales-amount" id="{{ stock.center_name }}">{{ stock.stock_count }}  <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-info"></i></span><span class="ml-1 text-success"></span></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <a href="centers" class="btn-primary-link">View Details</a>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if request.user.role == 'manager' or request.user.role == 'admin' %}
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                        {% if request.user.role == 'manager' %}
                        <div class="row">
                            <div class="col-sm-12">
                            <div class="card">
                            <h5 class="card-header">Mark as recieved</h5>
                            <div class="card-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <label for="inputText3" class="col-form-label">Choose Shipment</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <select class="chooseshipment"  multiple="multiple" name="states[]" style="width: 100%;">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Delivered</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" onclick="markasdone()"> Update   <i class="fa fa-save"></i></button>
                                </div>
                                <script>
                                    function markasdone() {
                                        var data = new FormData();
                                        data.append('shipment_id', jQuery('.chooseshipment').val())
                                        jQuery.ajax({
                                            "method": "POST",
                                            "url": "{{ host }}/markshipment",
                                            "data": data,
                                            "processData": false,
                                            "contentType": false,
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                loadtable();
                                                Swal.fire(
                                                    'Success!',
                                                    'Shipment marked as recieved!',
                                                    'success'
                                                );
                                            },
                                            "error": function (e) {
                                                Swal.fire(
                                                    'error',
                                                    'Error!'
                                                )
                                            }
                                        });
                                    }
                                </script>
                            </div>
                            </div>
                        </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% if request.user.role == 'admin' or request.user.role == 'manager' %}
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">View Shipments</h5>
                                <p></p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="table table-striped table-bordered second" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Shipment ID</th>
                                                <th>Center</th>
                                                <th>Commissioned by</th>
                                                <th>No. of packages</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table_body">
                                            {% for x in table %}
                                                <tr>
                                                    <td>{{ x.timestamp }}</td>
                                                    <td>{{ x.shipment_id }}</td>
                                                    <td>{{ x.center }}</td>
                                                    <td>{{ x.sender }}</td>
                                                    <td>{{ x.amount }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Date</th>
                                                <th>Shipment ID</th>
                                                <th>Center</th>
                                                <th>Commissioned by</th>
                                                <th>No. of packages</th>
                                                <th>Status</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                            </div>
                        </div>
                        </div>
                        <script>
                            function loadtable(){
                                var fd = new FormData;
                                {% if request.user.role == 'manager' %}
                                fd.append('center', "{{ request.user.center }}");
                                {% endif %}
                                jQuery.ajax({
                                        "method": "POST",
                                        "url": "{{ host }}/getshipments",
                                        "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                        "data": fd,
                                        "processData": false,
                                        "contentType": false,
                                        "success": function (res1) {
                                        jQuery('#table_body').html('');
                                        for(var i=0; i<res1.length; i++){
                                            if(res1[i]['delivered'] == 'Y') {
                                                jQuery('#table_body').append(
                                                    "<tr>" +
                                                    "<td>" + res1[i]['timestamp'] + "</td>" +
                                                    "<td>" + res1[i]['shipment_id'] + "</td>" +
                                                    "<td>" + res1[i]['center'] + "</td>" +
                                                    "<td>" + res1[i]['sender'] + "</td>" +
                                                    "<td>" + res1[i]['amount'] + "</td>" +
                                                    "<td>Completed <i class='fa fa-check-circle'></i></td>" +
                                                    "</tr>"
                                                );
                                            }else{
                                                jQuery('#table_body').append(
                                                    "<tr>" +
                                                    "<td>" + res1[i]['timestamp'] + "</td>" +
                                                    "<td>" + res1[i]['shipment_id'] + "</td>" +
                                                    "<td>" + res1[i]['center'] + "</td>" +
                                                    "<td>" + res1[i]['sender'] + "</td>" +
                                                    "<td>" + res1[i]['amount'] + "</td>" +
                                                    "<td>En Route <i class='fa fa-check-circle'></i></td>" +
                                                    "</tr>"
                                                );
                                            }
                                        }
                                    }
                                });
                            }
                            jQuery(document).ready(function () {
                                loadtable();
                                jQuery('.chooseshipment').select2();
                                var fd = new FormData;
                                {% if request.user.role == 'manager' %}
                                fd.append('center', "{{ request.user.center }}");
                                {% endif %}
                                jQuery.ajax({
                                    "method": "POST",
                                    "url": "{{ host }}/getshipments",
                                    "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                    "data": fd,
                                    "processData": false,
                                    "contentType": false,
                                    "success": function (res) {
                                        for(var i=0; i<res.length; i++){
                                            console.log(res[i]);
                                            jQuery('.chooseshipment').append(
                                                "<option value='"+res[i]['shipment_id']+"'>"+res[i]['shipment_id']+"</option>"
                                            )
                                        }
                                    }
                                });
                            });
                        </script>
                </div>
            {% endif %}
        </div>
</div>
{% endblock %}