{% extends "frontend/base.html" %}

{% load static %}

{% block page %}

<div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Stocks</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Manage stocks</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h5 class="text-muted">Total stocks</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1" id="totalstockdisplay">{{ total }}</h1><br>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                {% if total < 50 %}
                                <span class="icon-circle-small icon-box-xs text-danger bg-danger-light"><i class="fa fa-fw fa-warning"></i></span>
                                {% else %}
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-info"></i></span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
                <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body" style="margin-bottom: 3%">
                            <h5 class="text-muted">Update stocks</h5>
                            <form>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input id="stock_count" type="number" value="{{ total }}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button class="btn btn-success" id="done">update</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <script>
                                    jQuery('#done').on('click', function (event) {
                                        event.preventDefault()
                                        var fd = new FormData();
                                        fd.append('stock_count', jQuery('#stock_count').val())
                                        jQuery.ajax({
                                            "method": "POST",
                                            "url": "{{ host }}/updatetotalstock",
                                            "data": fd,
                                            "processData": false,
                                            "contentType": false,
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                Swal.fire(
                                                    'Success!',
                                                    'Stock updated successfully!',
                                                    'success'
                                                );
                                                jQuery('#totalstockdisplay').html(res['count']);
                                            }
                                        });
                                    });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body" style="margin-bottom: 3%">
                            <h5 class="text-muted">Assign to centres</h5>
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <select class="choosecenter" name="state2" style="width: 100%;">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <input id="center_stock_count" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <button class="btn btn-success" id="done2">send</button>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    jQuery(document).ready(function () {
                                        jQuery('.choosecenter').select2();
                                        jQuery.ajax({
                                            "method": "GET",
                                            "url": "{{ host }}/centerview",
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                for(var i=0; i<res.length; i++){
                                                    console.log(res[i]);
                                                    jQuery('.choosecenter').append(
                                                        "<option value='"+res[i]['center_name']+"'>"+res[i]['center_name']+"</option>"
                                                    )
                                                }
                                            }
                                        });
                                    });
                                    jQuery('.choosecenter').on('change', function () {
                                        alert('dfdffdfdf');
                                        jQuery.ajax({
                                            "method": "GET",
                                            "url": "{{ host }}/centerview/"+jQuery('.choosecenter').val(),
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                jQuery('#center_stock_count').val(res['stock_count']);
                                            }
                                        });
                                    });
                                    jQuery('#done2').on('click', function (event) {
                                        event.preventDefault()
                                        var fd = new FormData();
                                        fd.append('stock_count', jQuery('#center_stock_count').val())
                                        fd.append('center', jQuery('.choosecenter').val())
                                        jQuery.ajax({
                                            "method": "POST",
                                            "url": "{{ host }}/updatecenterstock",
                                            "data": fd,
                                            "processData": false,
                                            "contentType": false,
                                            "headers": {"X-CSRFToken": "{{ csrf_token }}"},
                                            "success": function (res) {
                                                if(res['message'] == 'insufficient stocks'){
                                                    Swal.fire(
                                                        'Insufficient stocks!',
                                                        'Please add more stocks or try a smaller value',
                                                        'warning'
                                                    );
                                                }else{
                                                    Swal.fire(
                                                        'Success!',
                                                        'Stock updated successfully!',
                                                        'success'
                                                    );
                                                    jQuery('#'+jQuery('.choosecenter').val()).html(res.count);//<span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-info"></i></span><span class="ml-1 text-success"></span>
                                                }
                                            }
                                        });
                                    });
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header"> Stock per center</h5>
                        <div class="card-body p-0">
                            <ul class="traffic-sales list-group list-group-flush">
                                {% for stock in center_stocks %}
                                <li class="traffic-sales-content list-group-item "><span class="traffic-sales-name">{{ stock.center_name }}</span><div><span class="traffic-sales-amount" id="{{ stock.center_name }}">{{ stock.stock_count }}  <span class="icon-circle-small icon-box-xs text-success ml-4 bg-success-light"><i class="fa fa-fw fa-info"></i></span><span class="ml-1 text-success"></span></span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-footer text-center">
                            <a href="centers" class="btn-primary-link">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}